@font-face {
    font-family: 'RobotoMonoBold';
    src: url(../font/Roboto_Mono/static/RobotoMono-Bold.ttf);
}


html {
    background-color: #000000;
}

.colorgrey {
    color: #6f6f6f;
}

.colorblue {
    color: #89DDFF;
}

.colorred {
    color: #F07178;
}

.colorwhite {
    color: #ffffff;
}

.fontRobotoBold {
    font-family: 'RobotoMonoBold';
}

.hoverwhite:hover {
    color: white;
}

.hoverred:hover {
    color: #F07178;
}

/* Style CSS première page */

nav a {
    text-decoration: none;
}
